<footer class="app-container footer-container">
  <div class="footer-wrapper">
    <h2 class="footer-heading">
      Our platform is trusted<br />by millions & features<br />best updated
      movies<br />all around the world.
    </h2>

    <div class="footer-nav-wrapper">
      <nav class="nav-list">
        <a href="#" class="nav-item">Home</a>
        <span>/</span>
        <a href="#" class="nav-item">Discover</a>
        <span>/</span>
        <a href="#" class="nav-item">Influence</a>
        <span>/</span>
        <a href="#" class="nav-item">Release</a>
      </nav>

      <div class="social-wrapper">
        <a href="#">
          <img
            class="size-8"
            src="assets/icons/instagram.svg"
            alt="Instagram"
          />
        </a>
        <a href="#">
          <img class="size-8" src="assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img class="size-8" src="assets/icons/twitter.svg" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>
  <div class="copyright-wrapper">
    <div class="flex space-x-4">
      <a href="#" class="copyright-item">Privacy policy</a>
      <a href="#" class="copyright-item">Term of service</a>
      <a href="#" class="copyright-item">Language</a>
    </div>
    <span class="copyright-item">From Dile With Love ❤️</span>
    <span class="copyright-item">© 2025</span>
  </div>
</footer>
