.home {
  //  ==================== Intro ====================
  .intro {
    @apply mb-16;

    &-container {
      @apply relative text-white;
    }

    &-bg {
      @apply min-w-full max-h-[100vh] object-cover;
    }

    &-overlay {
      @apply absolute inset-0 bg-gradient-to-t from-black to-[#00000024];
    }

    &-wrapper {
      @apply absolute bottom-[34%] px-14 z-10;
    }

    &-decs {
      @apply max-w-[580px] mt-3;
    }

    &-btn-wrapper {
      @apply flex gap-5 mt-6;
    }

    &-btn {
      @apply flex items-center gap-2
    }
  }

  //  ==================== Release ====================
  .release {
    @apply mb-16;

    &-heading {
      @apply mb-6;
    }

    &-list {
      @apply flex flex-row gap-4;
    }

    &-item {
      @apply relative w-[300px] min-h-[50px] cursor-pointer;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
        z-index: 5;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
      }
    }

    &-item__img {
      @apply max-w-full min-h-[100px] rounded-3xl object-cover;
    }

    &-item__content {
      @apply absolute z-10 bottom-5 left-4;
    }

    .rating {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -9px;
        width: 2px;
        height: 16px;
        background: #a09d9d;
      }
    }

    swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .popular {
    @apply mb-16;

    &-item {
      @apply flex items-center gap-4 mt-6;
    }

    &-item__img {
      @apply w-36 h-40 rounded-3xl object-cover;
    }

    &-item__content {
      @apply flex flex-col gap-2
    }
  }

  .genre-list {
    @apply flex items-center gap-[6px];
  }

  .genre-item {
    @apply flex items-center gap-[6px];

    &:last-child .genre-dot {
      display: none;
    }
  }

  .rating {
    @apply text-white
  }
}