<div class="page-cover flex items-center justify-center min-h-screen bg-black">
  <div class="w-full max-w-md p-7 bg-[#0d0c0f] rounded-lg shadow">
    <div class="flex justify-between items-center mb-6">
      <div>
        <div class="flex items-center gap-0.5">
          <img src="assets/icons/logo.svg" alt="Logo" />
          <img src="assets/icons/logo-1.svg" alt="SaintStream" />
        </div>

        <p class="text-[#676a6d] text-sm font-semibold">
          Login to your account
        </p>
      </div>
      <button class="sign-btn btn">Close</button>
    </div>

    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-white mb-2">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [class.border-white]="signinForm.get('email')?.valid"
          class="w-full px-4 py-3 bg-black border-2 border-[#242424] rounded-lg text-white focus:outline-none focus:border-white transition duration-200"
          placeholder="Email"
        />
        <div
          class="text-error"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <div *ngIf="email?.hasError('required')">Email is required.</div>
          <div *ngIf="email?.hasError('email')">
            Email must be a valid email address.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-white mb-2">Password</label>
        <div class="relative">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            [class.border-white]="signinForm.get('password')?.valid"
            class="w-full px-4 py-3 bg-black border-2 border-[#242424] rounded-lg text-white focus:outline-none focus:border-white transition duration-200"
            placeholder="Password"
          />
          <button
            type="button"
            (click)="togglePassword()"
            class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"
          >
            <img
              *ngIf="hidePassword"
              class="h-5 w-5"
              src="assets/icons/eye.svg"
              alt=""
            />
            <img
              *ngIf="!hidePassword"
              class="h-5 w-5"
              src="assets/icons/eye-slash.svg"
              alt=""
            />
          </button>
        </div>
        <div
          class="text-error"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <div *ngIf="password?.hasError('required')">
            Password is required.
          </div>
          <div *ngIf="password?.hasError('minlength')">
            Password must be at least 8 characters long.
          </div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!signinForm.valid"
        class="w-full bg-white text-[#6d737b] py-3 rounded font-bold hover:opacity-90 transition duration-200"
      >
        Sign In
      </button>
    </form>

    <div class="text-center mt-6 text-sm text-[#676a6d] font-semibold">
      Don't have an account?
      <a
        routerLink="/sign-up"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="text-white font-medium"
      >
        Sign Up
      </a>
    </div>
  </div>
</div>
