@use './style/color' as *;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0d0c0f] text-[#F9F9F9];
  font-family: "Rubik", sans-serif;
}

button {
  @apply cursor-pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
  border-color: #242424 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  border-color: white !important;
}

// Common Style
.app-container {
  @apply px-14;
}

.section-heading--lg {
  font-size: 50px;
  font-weight: 700;
}

.section-heading--md {
  font-size: 32px;
  font-weight: 700;
}

.section-heading {
  font-size: 24px;
  font-weight: 700;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
}

.section-text {
  font-size: 14px;
  font-weight: 600;

  &--sm {
    color: var(--desc);
  }
}

.section-desc {
  font-size: 16px;
  font-weight: 400;
  color: var(--desc);
}

.section-desc--sm {
  font-size: 12px;
  font-weight: 500;
  color: var(--desc);
}

.genre {
  font-size: 14px;
  font-weight: 400;
  color: var(--desc);
}

.text-error {
  @apply text-red-500 text-sm mt-1;
}

.genre-list {
  @apply flex items-center gap-[6px];
}

.genre-dot {
  @apply size-1 bg-[#a09d9d] rounded-full;
}

.overlay-b {
  @apply absolute inset-0 bg-gradient-to-t from-black to-[#00000024];
}

.overlay-tb {
  @apply absolute inset-0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

// Button Custom
.btn {
  @extend .section-text;
  @apply border-2 border-[var(--btn-border)] px-[20px] py-[12px] rounded-xl transition duration-200 ease-linear;
}

.btn-primary {
  @apply bg-[var(--primary)] border-[var(--primary)] hover:bg-[var(--primary-hover)] hover:border-[var(--primary-hover)];
}

.btn-outline {
  @apply hover:bg-white hover:text-[var(--text-black)] hover:border-white;
}

.sign-btn {
  @apply border-[#242424] hover:text-white hover:bg-[#0d0c0f] hover:border-white;
}

.nav-item {
  @apply hover:text-[var(--primary)] font-semibold transition duration-200 ease-linear;
}

.page-cover {
  background-image: url("/assets/img/bg-auth.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.genre-item {
  @apply flex items-center gap-[6px];

  &:last-child .genre-dot {
    display: none;
  }
}

.rating {
  @apply text-white
}

// Library SCSS Custom
// swiper-slide {
//   @apply flex items-center justify-center;
// }

swiper-container::part(pagination) {
  right: 54px;
  left: auto;
  bottom: 40px;
  width: auto;
}

swiper-container::part(bullet-active) {
  margin-bottom: 20px;
  width: 24px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--primary);
}

swiper-container::part(bullet) {
  margin-bottom: 20px;
  width: 24px;
  height: 10px;
  border-radius: 10px;
  background-color: #817979;
  opacity: 0.5;
}

swiper-container::part(button-prev) {
  display: none;
}

swiper-container::part(button-next) {
  visibility: hidden;
  @apply size-10 right-0 text-white bg-[var(--btn-next)] rounded-full;
}

swiper-container::part(button-next)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 16px;
  height: 16px;
  padding: 12px;
  background: var(--btn-next);
  border-radius: 999px;
  visibility: visible;
  overflow: visible;
  transition: background-color 0.3s ease;
}

swiper-container::part(button-next):hover::before {
  background-color: var(--primary);
}

swiper-container::part(button-next)::after {
  content: url("./assets/icons/arrow-right.svg");
  position: absolute;
  top: 10px;
  visibility: visible;
}
