@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0d0c0f] text-white;
}

button {
  @apply cursor-pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
  border-color: #242424 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  border-color: white !important;
}

// Common Style
.app-container {
  @apply px-14;
}

.section-heading--lg {
  @apply text-5xl font-bold;
}

.section-heading--md {
  @apply text-2xl font-bold;
}

.section-title {
  @apply text-base font-bold;
}

.section-desc--nm {
  @apply text-base font-semibold;
}

.section-desc--sm {
  @apply text-sm text-[#a09d9d] font-semibold;
}

.text-error {
  @apply text-red-500 text-sm mt-1;
}

.genre-dot {
  @apply size-1 mt-[4px] bg-[#a09d9d] rounded-full;
}

// Button Custom
.btn {
  @apply border-2 border-[#999999] px-[18px] py-[10px] rounded-xl transition duration-200 ease-linear;
}

.btn-primary {
  @apply bg-[#00925d] border-[#00925d] hover:bg-[#007a4a] hover:border-[#007a4a];
}

.btn-outline {
  @apply hover:bg-white hover:text-black hover:border-white;
}

.sign-btn {
  @apply border-[#242424] hover:text-white hover:bg-[#0d0c0f] hover:border-white;
}

.nav-item {
  @apply hover:text-[#00925d] font-semibold transition duration-200 ease-linear;
}

.page-cover {
  background-image: url("/assets/img/bg-auth.png");
  background-repeat: no-repeat;
  background-size: cover;
}

// Library SCSS Custom
.p-carousel-indicator-button {
  width: 24px !important;
  height: 10px !important;
}

.p-carousel-indicator-list {
  position: absolute;
  bottom: 60px;
  right: 56px;
}

// .p-carousel-item-list {
//   transform: translate3d(0, 0, 0) !important;
// }

.p-carousel-item {
  flex: 1 0 23%;
}

.p-carousel-content {
  display: block !important;
}

.p-carousel-prev-button {
  display: none !important;
}
